{% extends 'titles/base.html' %}

{% block title %}
About Activity Title - Streamline Your Strava Activities
{% endblock %}

{% block content %}
<h1>About Activity Title</h1>

<section class="about-intro">
    <p>
        Tired of generic activity titles like "Afternoon Run"? Activity Title lets you pre-write creative titles and
        effortlessly apply them to your Strava activities. Inspired by TweetDeck's scheduling features, this app helps
        you inject personality into your training log.
    </p>
    <p>
        This project was a fun opportunity to build a Django app, explore the Strava API and webhooks, and even leverage
        the power of ChatGPT! While currently a personal project connected to my own Strava account, the goal is to
        expand access in the future.
    </p>

    <p>You can support me at <a
            href="https://paypal.me/roryhr" target="_blank">paypal.me/roryhr</a></p>

</section>

<section class="about-details">
    <h2>How It Works</h2>
    <p>
        Create and save your activity titles in advance. Then, when you upload a new activity to Strava, Activity Title
        automatically updates it with your chosen title. No more boring default names!
    </p>

    <h2>Current Features</h2>
    <ul>
        <li>Create an account using Strava Connect on desktop and mobile</li>
        <li>Create and delete titles</li>
        <li>Automatic Strava activity updates via webhooks</li>
        <li>See what's queued up</li>
    </ul>


    <h2>Future Plans</h2>
    <ul>
        <li>Integration with other fitness platforms (e.g., Garmin Connect).</li>
        <li>Reordering your title list</li>
    </ul>
</section>

<section class="about-contact">
    <h2>Get in Touch</h2>
    <p>
        Have questions, a bug report, or feature requests? Send me an email!
    </p>
    <p>Email: <a href="mailto:roryhr@gmail.com">roryhr@gmail.com</a></p>
    <p>I almost forgot, check me out on <a href="https://www.strava.com/athletes/23193264">Strava</a> too. Cheers!</p>
</section>
{% endblock %}