<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}Activity Title{% endblock %}
    </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
</head>
<body>
<header>
    <h1>Activity Title</h1>
    <nav>
        <a href="{% url 'titles:index' %}">Home</a>
        <a href="{% url 'titles:about' %}">About</a>
    </nav>
</header>

<main>
    {% block content %}
    Default content if no block is overridden
    {% endblock %}

    <section class="disclaimer">
        <img src="{% static 'img/api_logo_cptblWith_strava_horiz_gray.png' %}" alt="Login with Strava">
        <p class="affiliation-note">Activity Title is not affiliated with Strava. We use the Strava API to provide
            these features, but we are an independent application.</p>
    </section>
</main>

<footer>
    <p>&copy; 2024 Rory Hartong-Redden</p>
</footer>
</body>
</html>
