<!-- templates/titles/detail.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title.title }}</title>
</head>
<body>
    <h1>{{ title.title }}</h1>
    <p>Created at: {{ title.created_at }}</p>
    <p>Last updated: {{ title.updated_at }}</p>

    <h2>Related Activities:</h2>
    <ul>
        {% for activity in title.activity_set.all %}
            <li>{{ activity.activity_id }}</li>
        {% empty %}
            <li>No related activities found.</li>
        {% endfor %}
    </ul>

    <a href="{% url 'titles:index' %}">Back to the list</a>
</body>
</html>
