{% extends 'titles/base.html' %}

{% block title %}
Activity Title - Detail
{% endblock %}

{% block content %}
<main>
    <h1>{{ title.title|linebreaksbr }}</h1>
    <p>Created at {{ title.created_at }}</p>

    {% if title.used_at %}
    <p>Linked to Strava on {{ title.used_at }}</p>
    {% endif %}

    <h2>Related Activities</h2>
    <ul>
        {% for activity in title.activity_set.all %}
        <li>
            {% if activity.activity_id %}
            <a href="https://www.strava.com/activities/{{ activity.activity_id }}" target="_blank">
                Strava Activity #{{ activity.activity_id }}
            </a>
            {% else %}
            No Strava activity linked.
            {% endif %}
        </li>
        {% empty %}
        <p>Once this title is synced to Strava you'll see a link to the activity with this name.</p>
        {% endfor %}
    </ul>

    <form method="post" action="{% url 'titles:delete' title.id %}">
        {% csrf_token %}
        <button type="submit">Delete</button>
    </form>

</main>
{% endblock %}