{% extends 'titles/base.html' %}

{% block title %}Frequently Asked Questions - Activity Title{% endblock %}

{% block content %}
<h1>Frequently Asked Questions</h1>

<section class="faq">
    <h2>General</h2>
    <details>
        <summary>What is Activity Title?</summary>
        <p>I like to add creative titles to my Strava activities but creativity comes in bursts, so I created this
            website to store activity names and update "Afternoon Run" to something else when I upload a run.
            This was a fun excuse build a Django app, experiment with ChatGPT for some coding help, and use the Strava
            API.
        </p>
    </details>
    <details>
        <summary>Where's the AI?</summary>
        <p>There's no AI here. You need to come up with your own names. All we do is store and sync them.</p>
    </details>
    <details>
        <summary>How does it work?</summary>
        <p>You create and save activity titles in advance. When you upload a new activity to Strava, Activity Title
            automatically updates it with the next one in the queue using Strava's webhook API.</p>
    </details>
    <details>
        <summary>Is Activity Title free?</summary>
        <p>Yes! This website is a one-trick pony that doesn't cost much to run. You can support me at <a
                href="https://paypal.me/roryhr" target="_blank">paypal.me/roryhr</a></p>
    </details>
    <details>
        <summary>Have you heard of the other Strava Apps?</summary>
        <p>Yeah, there are lots of awesome apps to help manage your Strava. Here are some of the popular ones:</p>
        <ul>
            <li><a href="https://activityfix.com">ActivityFix</a></li>
            <li><a href="https://www.bandok.com">Bandok</a></li>
            <li><a href="https://onlypuns.xyz">Only Puns</a></li>
            <li><a href="https://klimat.app">Klimat</a></li>
        </ul>
    </details>

    <h2>Strava Integration</h2>
    <details>
        <summary>What Strava permissions does Activity Title require?</summary>
        <p>Activity Title requires permission to read and write activity data. This is necessary to update your activity
            titles.</p>
    </details>
    <details>
        <summary>What happens to my Strava data?</summary>
        <p>Activity Title only stores your activity titles and the associated Strava activity ID.
            Basically, your Strava data stays on Strava. We don't change your privacy settings.
        </p>
    </details>
    <details>
        <summary>What happens if I don't authorize Activity Title to view my private activities?</summary>
        <p>Unfortunately, the app won't work. But you still log in.</p>
    </details>
    <h2>Account and Access</h2>
    <details>
        <summary>How can I get an account?</summary>
        <p>Click the "Connect with Strava" button.</p>
    </details>

    <h2>Other</h2>
    <details>
        <summary>Who created Activity Title?</summary>
        <p>Activity Title was created by Rory Hartong-Redden.</p>
    </details>
</section>
{% endblock %}