<!-- templates/titles/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Strava Deck</title>
</head>
<body>
    <h1>List of Titles</h1>
    <ul>
        {% for title in latest_strava_title_list %}
            <li>
                <a href="{% url 'titles:detail' title.id %}">{{ title.title }}</a>
                <p>Created at: {{ title.created_at }}</p>
            </li>
        {% empty %}
            <li>No titles are available.</li>
        {% endfor %}
    </ul>

    <!-- Strava Login Button -->
    <h2>Login with Strava</h2>
    <p>Connect to Strava to allow Deck to update your activities. Requests activity:read_all and activity:write

        We are not affiliated with Strava.
    </p>
    <a href="{% url 'titles:strava_login' %}">
        {% load static %}
        <img src="{% static 'img/btn_strava_connectwith_orange.png' %}" alt="Login with Strava">
    </a>
    <p>We are not affiliated with Strava.</p>
</body>
</html>
