{% extends 'titles/base.html' %}

{% block title %}
Activity Title - Home
{% endblock %}

{% block content %}
{% load static %}
{% block messages %}
<ul id="messages">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endblock %}

<section class="titles">
    {% if user.is_authenticated %}
    <p>Welcome back, {{ user.first_name }}!</p>
    {% else %}
    <p>Welcome to the Activity Title App!</p>
    {% endif %}
</section>

<section class="titles">
    <h1>Create New Title</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Create</button>
    </form>
    <h2>List of Titles</h2>
    <ul>
        {% for title in titles %}
        <li>
            <a href="{% url 'titles:detail' title.id %}" class="title-link">{{ title.title|linebreaksbr }}</a>
            <p class="created-at">Created at: {{ title.created_at }}</p>
            {% if title.used_at %}
            <p class="created-at">Used at: {{ title.used_at }}</p>
            {% endif %}

            {% if title == queued_title %}
            <span style="color: gold;">★</span>
            <small>(Queued next to sync) <br></small>
            {% endif %}
        </li>
        {% empty %}
        <li>No titles are available.</li>
        {% endfor %}
    </ul>

    <div class="pagination">
        {% if titles.has_previous %}
        <a href="?page=1" class="pagination-link">&laquo; first</a>
        <a href="?page={{ titles.previous_page_number }}" class="pagination-link">previous</a>
        {% endif %}

        <span class="page-info">Page {{ titles.number }} of {{ titles.paginator.num_pages }}</span>

        {% if titles.has_next %}
        <a href="?page={{ titles.next_page_number }}" class="pagination-link">next</a>
        <a href="?page={{ titles.paginator.num_pages }}" class="pagination-link">last &raquo;</a>
        {% endif %}
    </div>
</section>

<section class="strava-login">
    <p>Connect with Strava to login</p>
    <a href="{% url 'titles:strava_login' %}" class="strava-button">
        <img src="{% static 'img/btn_strava_connectwith_orange.png' %}" alt="Login with Strava">
    </a>
    <p class="affiliation-note">We are not affiliated with Strava.</p>
</section>
{% endblock %}