{% extends 'titles/base.html' %}
{% load static %}

{% block title %}Activity Title - Login{% endblock %}

{% block content %}
<section class="titles">
    <p>This was inspired by TweetDeck which enabled power users to schedule tweets back when Twitter didn't have
        that feature.</p>

    <h1>Create New Title</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Create</button>
    </form>
    <h2>List of Titles</h2>
    <p>This is demo data. Once logged in you'll be able to create your own that only you can see.</p>
    <ul>
        {% for title in titles %}
        <li>
            <a href="{% url 'titles:detail' title.id %}" class="title-link">{{ title.title|linebreaksbr }}</a>
            <p class="created-at">Created at: {{ title.created_at }}</p>
            <p class="created-at">Used at: {{ title.used_at }}</p>
        </li>
        {% empty %}
        <li>No titles are available.</li>
        {% endfor %}
    </ul>
</section>

<div class="strava-buttons-container">
    <section class="strava-login">
        <p>Web login. Click here if you use the Strava website.</p>
        <a href="{% url 'titles:strava_login' %}" class="strava-button">
            <img src="{% static 'img/btn_strava_connectwith_orange.png' %}" alt="Login with Strava">
        </a>
    </section>

    <section class="strava-login">
        <p>Mobile login. Click here if you use the Strava mobile app.</p>
        <a href="{% url 'titles:strava_mobile_login' %}" class="strava-button">
            <img src="{% static 'img/btn_strava_connectwith_orange.png' %}" alt="Login with Strava (Mobile)">
        </a>
    </section>
</div>
{% endblock %}